<div>
  <h3 class="font-bold text-xl mb-3 px-2">Stories</h3>
  <div class="flex space-x-4">
    <div class="cursor-pointer group">
      <div class="relative w-16 h-24 rounded-xl bg-cover bg-center bg-[url('https://images.unsplash.com/photo-1526512340740-9217d0159da9')] transform group-hover:scale-105 transition-transform duration-200">
        <div class="absolute inset-0 bg-black/20 rounded-xl"></div>
        <img src="https://placehold.co/32x32/ff6347/ffffff?text=A" class="absolute bottom-2 left-2 rounded-full border-2 border-white">
      </div>
    </div>
    <div class="cursor-pointer group">
      <div class="relative w-16 h-24 rounded-xl bg-cover bg-center bg-[url('https://images.unsplash.com/photo-1526512340740-9217d0159da9')] transform group-hover:scale-105 transition-transform duration-200">
        <div class="absolute inset-0 bg-black/20 rounded-xl"></div>
        <img src="https://placehold.co/32x32/4682b4/ffffff?text=L" class="absolute bottom-2 left-2 rounded-full border-2 border-white">
      </div>
    </div>
    <div class="cursor-pointer group">
      <div class="relative w-16 h-24 rounded-xl bg-cover bg-center bg-[url('https://images.unsplash.com/photo-1470770841072-f978cf4d019e')] transform group-hover:scale-105 transition-transform duration-200">
        <div class="absolute inset-0 bg-black/20 rounded-xl"></div>
        <img src="https://placehold.co/32x32/32cd32/ffffff?text=E" class="absolute bottom-2 left-2 rounded-full border-2 border-white">
      </div>
    </div>
  </div>
</div>